@model IEnumerable<Inisra_Web_App_MVC.DTOs.ApplicationDto>

@{ 
    Layout = "~/Views/Shared/Profile.cshtml";
}

@{
    ViewBag.Title = "Applications"; ViewBag.Applications = "active";
}

<h2>Applications</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">

        <tr>
            <th>Company </th>
            <th>Job Title</th>
            <th>Application Date</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CompanyName, "Details", "Companies", new { id = item.CompanyId }, new { })
                </td>
                <td>
                    @Html.ActionLink(item.JobTitle, "Details", "Jobs", new { id = item.JobId }, new { })
                </td>
                <td>
                    @Html.DisplayFor(m => item.ApplicationDate)
                </td>
                <td>
                    <button type="submit" name="jobID" value="@item.JobId" class="btn btn-danger" formaction="DeleteApplication" formmethod="post">Delete</button>
                </td>
            </tr>
        }

    </table>
}
<p>
    @Html.ActionLink("Back to Profile", "Index")
</p>
