@model IEnumerable<Inisra_Web_App_MVC.DTOs.ApplicationDto>

@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayName("Applicant Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.JobTitle,"Details", "Jobs", new { id = item.JobId }, new { }  )
        </td>
        <td>
            @Html.ActionLink(item.JobSeekerFullName, "Details", "JobSeekers", new { id = item.JobSeekerId }, new { } )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            <!--Add accept or reject after database upgrade-->
        </td>
    </tr>
}

</table>
