@model IEnumerable<Inisra_Web_App_MVC.DTOs.InvitationDto>

@{
    ViewBag.Title = "Invitations";
}

<h2>Invitations</h2>


    <table class="table">

        <tr>
            <th>Name </th>
            <th>Job Title</th>
            <th>Invitation Date</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
              <tr>
                <td>
                    @Html.ActionLink(item.JobSeekerFullName, "Details", "JobSeekers", new { id = item.JobSeekerId }, new { })
                    @Html.Hidden("jobSeekerID", item.JobSeekerId)
                </td>
                <td>
                    @Html.ActionLink(item.JobTitle, "Details", "Jobs", new { id = item.JobId }, new { })
                    @Html.Hidden("jobID", item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.InvitationDate)
                </td>
                <td>
                    <button type="submit" class="btn btn-danger" formaction="DeleteInvitation" formmethod="post">Cancel</button>
                </td>
            </tr>
            }
        }
    </table>
<p>
    @Html.ActionLink("Back to Profile", "Index")
</p>

