@model Inisra_Web_App_MVC.DTOs.JobDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Company")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

   
        <dt>
            @Html.DisplayName("Salary Rate")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        @if (ViewBag.IsOwner ?? false)
        {
            <dt>
                @Html.DisplayName("Open for Application")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsOpen)
            </dd>

            <dt>
                @Html.DisplayName("Privacy")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsInvitationOnly)
            </dd>

        }
        <dt>
            @Html.DisplayName("Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayName("Post Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayName("Application Deadline")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDeadlineDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
   @if (!User.IsInRole("Company"))
   {
       @Html.ActionLink("Apply", "Apply", new { id = Model.Id })
       <label> | </label>
   } 
   
   @if (ViewBag.IsOwner?? false)
   {
       @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
       <label> | </label>
       @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
       <label> | </label>
   }
       @Html.ActionLink("Back to List", "Index")
</p>
