@model IEnumerable<Inisra_Web_App_MVC.DTOs.JobDto>

@{
    ViewBag.Title = "Jobs";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Company"))
    {
        @Html.ActionLink("Post New", "Post")
    }   
</p>

@using (@Html.BeginForm("Index", "Jobs", FormMethod.Get))
{
    @*  using the get method is useful here to make the from post using the
           url and hence links of the filter or search result can be shared
           even if there was a HttpPost overload of index the form would only
           postback to the get method. THis is useful wen we dont want the user
           change the url for postback but also not use post method.

           if the html.beginform doesn't have any controller, action or method(FormMethod.Post) specified
        *  i.e. the parameter list is empty it will post to itself by default
    *@
    <p class="form-inline">
        <label for="titleTB" class="control-label">Job Title:</label>
        @Html.TextBox("Title", "", htmlAttributes: new { @id = "titleTB", @class = "form-group form-control" })
        <label for="professionTB" class="control-label">Profession:</label>
        @Html.TextBox("Profession", "", htmlAttributes: new { @id = "professionTB", @class = "form-group form-control" })
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Company")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profession)
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayName("Application Deadline")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDeadlineDate)
        </td>
        <td>
            <form>
                @Html.ActionLink("Details", "Details", new { id = item.Id })

                @if (!User.IsInRole("Company"))
                {
                    <button type="submit" class="btn btn-default" name="jobId" value="@item.Id" formaction="Jobs/BookmarkJob" formmethod="post">Bookmark</button>
                    <label> | </label>
                    @Html.ActionLink("Apply", "Apply", new { id = item.Id })
                }
            </form>
        </td>
    </tr>
}

</table>
