@model Inisra_Web_App_MVC.DTOs.JobSeekerDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobSeeker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

    </dl>
</div>

<h6>Uploaded Resumes </h6>
<div class="row">
    @{
        if (Model.CVs.Count == 0)
        {
            <p>No CVs have been uploaded by @Model.FirstName @Model.LastName.</p>
        }
        else {
            foreach (var cv in Model.CVs)
            {
            <div class="col-md-4 ">@Html.ActionLink(cv.DocumentName, "DownloadCV", new { id = cv.ID, jobSeekerId = Model.Id })</div>
            }
        }
        <br />
        <br />
    }
</div>

<p>
    @if (User.IsInRole("Company"))
    { 
        @Html.ActionLink("Invite to Job", "Invite", "CompanyProfile", new { jobSeekerID = Model.Id }, new { })
        <label> | </label>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
